<data text="menu">
    <menu text="LED Strip Settings">
        <LED_Strip_Settings text="LED Color" setting="color_mode" stype="sIndex">
            <LED_Color text="RGB" show="colorPicker" color="settings" index="Single">
                <RGB text="Red" setting="red"></RGB>
                <RGB text="Green" setting="green"></RGB>
                <RGB text="Blue" setting="blue"></RGB>
            </LED_Color>
            <LED_Color text="Solid" index="Single">
                <Solid text="White" color="ffffffff"></Solid>
                <Solid text="Red" color="ff0000ff"></Solid>
                <Solid text="Green" color="008000ff"></Solid>
                <Solid text="Blue" color="0000ffff"></Solid>
                <Solid text="Aqua" color="00ffffff"></Solid>
                <Solid text="Crimson" color="dc143cff"></Solid>
                <Solid text="Cyan" color="00ffffff"></Solid>
                <Solid text="Fuchsia" color="ff00ffff"></Solid>
                <Solid text="Lime" color="00ff00ff"></Solid>
                <Solid text="Olive" color="808000ff"></Solid>
                <Solid text="Purple" color="800080ff"></Solid>
                <Solid text="Yellow" color="ffff00ff"></Solid>
                <Solid text="Orange" color="ffa500ff"></Solid>
                <Solid text="DarkGreen" color="006400ff"></Solid>
                <Solid text="DeepPink" color="ff1493ff"></Solid>
            </LED_Color>
            <LED_Color text="Multicolor" disabled="true">
                <Multicolor text="Add Color"></Multicolor>
                <Multicolor text="Confirm"></Multicolor>
            </LED_Color>
            <LED_Color text="Rainbow Colors" index="Rainbow">
                <Rainbow_Colors text="Offset" type="number" min="-500" max="500" step="5" setting="rainbow_offset"></Rainbow_Colors>
                <Rainbow_Colors text="Scale" type="number" min="-500" max="500" step="5" setting="rainbow_scale"></Rainbow_Colors>
                <Rainbow_Colors text="Timeshift" type="number" min="-100" max="100" step="1" setting="rainbow_timeshift"></Rainbow_Colors>
            </LED_Color>
            <LED_Color text="Speed" index="Speed">
                <Speed text="Color for slow speed" show="colorPicker" color="settings">
                    <Color_for_slow_speed text="Red" setting="speed_slowest_red"></Color_for_slow_speed>
                    <Color_for_slow_speed text="Green" setting="speed_slowest_green"></Color_for_slow_speed>
                    <Color_for_slow_speed text="Blue" setting="speed_slowest_blue"></Color_for_slow_speed>
                </Speed>
                <Speed text="Color for fast speed" show="colorPicker" color="settings">
                    <Color_for_fast_speed text="Red" setting="speed_fastest_red"></Color_for_fast_speed>
                    <Color_for_fast_speed text="Green" setting="speed_fastest_green"></Color_for_fast_speed>
                    <Color_for_fast_speed text="Blue" setting="speed_fastest_blue"></Color_for_fast_speed>
                </Speed>
                <Speed text="Period">
                    <Period text="Seconds" type="numberf" min="0.1" max="100" step="0.1" setting="speed_period_in_seconds"></Period>
                </Speed>
                <Speed text="Max notes in period">
                    <Max_notes_in_period text="Notes" type="number" min="2" max="10000" step="2" setting="speed_max_notes"></Max_notes_in_period>
                </Speed>
                <Speed text="Confirm"></Speed>
            </LED_Color>
            <LED_Color text="Scale Coloring" index="Scale">
                <Scale_Coloring text="Color in scale" show="colorPicker" color="settings">
                    <Color_in_scale text="Red" setting="key_in_scale_red"></Color_in_scale>
                    <Color_in_scale text="Green" setting="key_in_scale_green"></Color_in_scale>
                    <Color_in_scale text="Blue" setting="key_in_scale_blue"></Color_in_scale>
                </Scale_Coloring>
                <Scale_Coloring text="Color not in scale" show="colorPicker" color="settings">
                    <Color_not_in_scale text="Red" setting="key_not_in_scale_red"></Color_not_in_scale>
                    <Color_not_in_scale text="Green" setting="key_not_in_scale_green"></Color_not_in_scale>
                    <Color_not_in_scale text="Blue" setting="key_not_in_scale_blue"></Color_not_in_scale>
                </Scale_Coloring>
                <Scale_Coloring text="Scale key" setting="scale_key" stype="index">
                    <Scale_key text="C"></Scale_key>
                    <Scale_key text="C#"></Scale_key>
                    <Scale_key text="D"></Scale_key>
                    <Scale_key text="Eb"></Scale_key>
                    <Scale_key text="E"></Scale_key>
                    <Scale_key text="F"></Scale_key>
                    <Scale_key text="F#"></Scale_key>
                    <Scale_key text="G"></Scale_key>
                    <Scale_key text="Ab"></Scale_key>
                    <Scale_key text="A"></Scale_key>
                    <Scale_key text="Bb"></Scale_key>
                    <Scale_key text="B"></Scale_key>
                </Scale_Coloring>
                <Scale_Coloring text="Confirm"></Scale_Coloring>
            </LED_Color>
        </LED_Strip_Settings>
        <LED_Strip_Settings text="Light mode" setting="mode" stype="sIndex">
            <Light_mode text="Normal" index="Normal"></Light_mode>
            <Light_mode text="Fading" index="Fading" setting="fadingspeed" stype="sIndex">
                <Fading text="Instant" index="1000"></Fading>
                <Fading text="Very fast" index="50"></Fading>
                <Fading text="Fast" index="40"></Fading>
                <Fading text="Medium" index="20"></Fading>
                <Fading text="Slow" index="10"></Fading>
                <Fading text="Very slow" index="2"></Fading>
            </Light_mode>
            <Light_mode text="Velocity" index="Velocity" setting="fadingspeed" stype="sIndex">
                <Velocity text="Fast" index="10"></Velocity>
                <Velocity text="Medium" index="8"></Velocity>
                <Velocity text="Slow" index="6"></Velocity>
                <Velocity text="Very slow" index="3"></Velocity>
            </Light_mode>
        </LED_Strip_Settings>
        <LED_Strip_Settings text="Brightness">
            <Brightness text="Power" type="number" min="0" max="100" setting="brightness_percent"></Brightness>
        </LED_Strip_Settings>
        <LED_Strip_Settings text="Backlight">
            <Backlight text="Backlight Color" show="colorPicker" color="settings">
                <Backlight_Color text="Red" setting="backlight_red"></Backlight_Color>
                <Backlight_Color text="Green" setting="backlight_green"></Backlight_Color>
                <Backlight_Color text="Blue" setting="backlight_blue"></Backlight_Color>
            </Backlight>
            <Backlight text="Backlight Brightness">
                <Backlight_Brightness text="Power" type="number" min="0" max="100"  setting="backlight_brightness"></Backlight_Brightness>
            </Backlight>
        </LED_Strip_Settings>
        <LED_Strip_Settings text="Sides Color" setting="adjacent_mode" stype="sIndex">
            <Sides_Color text="Custom RGB" show="colorPicker" color="settings" index="RGB">
                <Custom_RGB text="Red" setting="adjacent_red"></Custom_RGB>
                <Custom_RGB text="Green" setting="adjacent_green"></Custom_RGB>
                <Custom_RGB text="Blue" setting="adjacent_blue"></Custom_RGB>
            </Sides_Color>
            <Sides_Color text="Same as main" index="Main"></Sides_Color>
            <Sides_Color text="Off" index="Off"></Sides_Color>
        </LED_Strip_Settings>
        <LED_Strip_Settings text="Sequences" disabled="true">
            <Sequences text="Update"></Sequences>
        </LED_Strip_Settings>
        <LED_Strip_Settings text="Skipped notes" disabled="true">
            <Skipped_notes text="None"></Skipped_notes>
            <Skipped_notes text="Finger-based"></Skipped_notes>
            <Skipped_notes text="Normal"></Skipped_notes>
        </LED_Strip_Settings>
        <LED_Strip_Settings text="Led count" disabled="true">
            <Led_count text="Number"></Led_count>
        </LED_Strip_Settings>
        <LED_Strip_Settings text="Shift" disabled="true">
            <Shift text="Number"></Shift>
        </LED_Strip_Settings>
    </menu>
    <menu text="Play MIDI"> <!-- TODO isplaying, isrecording etc -->
        <Play_MIDI text="Choose song" action="request"></Play_MIDI>
        <Play_MIDI text="Stop playing"></Play_MIDI>
        <Play_MIDI text="Start recording"></Play_MIDI>
        <Play_MIDI text="Cancel recording"></Play_MIDI>
        <Play_MIDI text="Save MIDI"></Play_MIDI>
    </menu>
    <menu text="Ports Settings"> <!-- TODO highlight selected Port -->
        <Ports_Settings text="Input" action="request"></Ports_Settings>
        <Ports_Settings text="Playback" action="request"></Ports_Settings>
        <Ports_Settings text="Refresh ports"></Ports_Settings>
        <Ports_Settings text="Reset Bluetooth service"></Ports_Settings>
    </menu>
    <menu text="LED animations"> <!-- TODO highlight selected Animation -->
        <LED_animations text="Theater Chase"></LED_animations>
        <LED_animations text="Breathing">
            <Breathing text="Fast"></Breathing>
            <Breathing text="Medium"></Breathing>
            <Breathing text="Slow"></Breathing>
        </LED_animations>
        <LED_animations text="Rainbow">
            <Rainbow text="Fast" action="send"></Rainbow>
            <Rainbow text="Medium"></Rainbow>
            <Rainbow text="Slow"></Rainbow>
        </LED_animations>
        <LED_animations text="Rainbow Cycle">
            <Rainbow_Cycle text="Fast"></Rainbow_Cycle>
            <Rainbow_Cycle text="Medium"></Rainbow_Cycle>
            <Rainbow_Cycle text="Slow"></Rainbow_Cycle>
        </LED_animations>
        <LED_animations text="Theater Chase Rainbow"></LED_animations>
        <LED_animations text="Sound of da police"></LED_animations>
        <LED_animations text="Scanner"></LED_animations>
        <LED_animations text="Stop animation"></LED_animations>
        <LED_animations text="Clear"></LED_animations>
    </menu>
    <menu text="Display Settings">  <!-- TODO all -->
        <Display_Settings text="Text Color">
            <Text_Color text="Black"></Text_Color>
            <Text_Color text="White"></Text_Color>
            <Text_Color text="Green"></Text_Color>
            <Text_Color text="Red"></Text_Color>
            <Text_Color text="Orange"></Text_Color>
            <Text_Color text="Purple"></Text_Color>
            <Text_Color text="Blue"></Text_Color>
            <Text_Color text="Brown"></Text_Color>
            <Text_Color text="Yellow"></Text_Color>
            <Text_Color text="Olive"></Text_Color>
            <Text_Color text="Lime"></Text_Color>
            <Text_Color text="Gray"></Text_Color>
            <Text_Color text="SteelBlue"></Text_Color>
            <Text_Color text="Magenta"></Text_Color>
            <Text_Color text="DarkViolet"></Text_Color>
        </Display_Settings>
        <Display_Settings text="Background Color">
            <Background_Color text="White"></Background_Color>
            <Background_Color text="Black"></Background_Color>
            <Background_Color text="Grey"></Background_Color>
        </Display_Settings>
    </menu>
    <menu text="Other Settings">  <!-- TODO all -->
        <Other_Settings text="System Info" disabled="true"></Other_Settings>
        <Other_Settings text="Screensaver" disabled="true"> <!-- TODO Not yet available in App-->
            <Screensaver text="Content">
                <Content text="Time"></Content>
                <Content text="Date"></Content>
                <Content text="CPU Chart"></Content>
                <Content text="CPU"></Content>
                <Content text="RAM"></Content>
                <Content text="Temp"></Content>
                <Content text="Network Usage"></Content>
                <Content text="SD Card Space"></Content>
            </Screensaver>
            <Screensaver text="Start delay" disabled="true"> <!-- TODO Not yet available in App-->
                <Start_delay text="After minutes (0 - never)"></Start_delay>
            </Screensaver>
            <Screensaver text="Turn off screen delay" disabled="true"> <!-- TODO Not yet available in App-->
                <Turn_off_screen_delay text="After minutes (0 - never)"></Turn_off_screen_delay>
            </Screensaver>
            <Screensaver text="Led animation delay" disabled="true"> <!-- TODO Not yet available in App-->
                <Led_animation_delay text="After minutes (0 - never)"></Led_animation_delay>
            </Screensaver>
            <Screensaver text="Led animation">
                <Led_animation text="Theater Chase"></Led_animation>
                <Led_animation text="Breathing Slow"></Led_animation>
                <Led_animation text="Rainbow Slow"></Led_animation>
                <Led_animation text="Rainbow Cycle Slow"></Led_animation>
                <Led_animation text="Theater Chase Rainbow"></Led_animation>
                <Led_animation text="Sound of da police"></Led_animation>
                <Led_animation text="Scanner"></Led_animation>
            </Screensaver>
        </Other_Settings>
        <Other_Settings text="Reset to default settings">
            <Reset_to_default_settings text="Confirm" action="send"></Reset_to_default_settings>
            <Reset_to_default_settings text="Cancel"></Reset_to_default_settings>
        </Other_Settings>
    </menu>
    <menu text="Shutdown Options">
        <Shutdown_Options text="Shutdown">
            <Shutdown text="Confirm" action="send"></Shutdown>
            <Shutdown text="Cancel"></Shutdown>
        </Shutdown_Options>
        <Shutdown_Options text="Reboot">
            <Reboot text="Confirm" action="send"></Reboot>
            <Reboot text="Cancel"></Reboot>
        </Shutdown_Options>
    </menu>
</data>